SUDA NAVEEN - 20MIC0057
suda.naveen2020@vitstudent.ac.in

Git Hub Folder link: https://github.com/sudanaveen4/SmartBridge---VIT-EXTERNSHIP-Artificial-Intelligence-.git

ASSESMENT:-2

TASK:-1

In [373]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [374]:
# Load the dataset
data = pd.read_csv("drug200.csv")
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [375]:
# Split the features and labels
X = data.drop("Drug", axis=1)
y = data["Drug"]
X

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [376]:
# Convert categorical variables to numerical using LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

# Encode categorical variables
categorical_columns = ['Sex', 'BP','Cholesterol']
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), categorical_columns)], remainder='passthrough')
X = ct.fit_transform(X)
X

array([[ 1.   ,  0.   ,  1.   , ...,  0.   , 23.   , 25.355],
       [ 0.   ,  1.   ,  0.   , ...,  0.   , 47.   , 13.093],
       [ 0.   ,  1.   ,  0.   , ...,  0.   , 47.   , 10.114],
       ...,
       [ 0.   ,  1.   ,  0.   , ...,  0.   , 52.   ,  9.894],
       [ 0.   ,  1.   ,  0.   , ...,  1.   , 23.   , 14.02 ],
       [ 1.   ,  0.   ,  0.   , ...,  1.   , 40.   , 11.349]])

In [377]:
# Normalize the features
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [378]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [379]:
X.shape, y.shape

((200, 9), (200,))

In [380]:
X_train.shape, X_test.shape

((160, 9), (40, 9))

In [381]:
y_train.shape, y_test.shape

((160,), (40,))

TASK:-2

In [382]:
# Define the model architecture
model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(9,)),
    layers.Dense(128, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(5, activation='softmax')
])

In [383]:
# Compile the model
model.compile(optimizer='adam',loss=tf.keras.losses.SparseCategoricalCrossentropy(),metrics=['accuracy'])
model

In [384]:
tf.keras.backend.clear_session()
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=1)
model

Epoch 1/50
5/5 [==============================] - 1s 3ms/step - loss: 1.4955 - accuracy: 0.4625
Epoch 2/50
5/5 [==============================] - 0s 2ms/step - loss: 1.2756 - accuracy: 0.6438
Epoch 3/50
5/5 [==============================] - 0s 2ms/step - loss: 1.1094 - accuracy: 0.6562
Epoch 4/50
5/5 [==============================] - 0s 2ms/step - loss: 0.9685 - accuracy: 0.6625
Epoch 5/50
5/5 [==============================] - 0s 2ms/step - loss: 0.8586 - accuracy: 0.6812
Epoch 6/50
5/5 [==============================] - 0s 3ms/step - loss: 0.7532 - accuracy: 0.6875
Epoch 7/50
5/5 [==============================] - 0s 2ms/step - loss: 0.6616 - accuracy: 0.6938
Epoch 8/50
5/5 [==============================] - 0s 2ms/step - loss: 0.5812 - accuracy: 0.7250
Epoch 9/50
5/5 [==============================] - 0s 2ms/step - loss: 0.5113 - accuracy: 0.7500
Epoch 10/50
5/5 [==============================] - 0s 2ms/step - loss: 0.4473 - accuracy: 0.8562
Epoch 11/50
5/5 [==============================] - 0s 2ms/step - loss: 0.3901 - accuracy: 0.9250
Epoch 12/50
5/5 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.9438
Epoch 13/50
5/5 [==============================] - 0s 2ms/step - loss: 0.2951 - accuracy: 0.9500
Epoch 14/50
5/5 [==============================] - 0s 2ms/step - loss: 0.2509 - accuracy: 0.9563
Epoch 15/50
5/5 [==============================] - 0s 2ms/step - loss: 0.2173 - accuracy: 0.9812
Epoch 16/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1869 - accuracy: 0.9812
Epoch 17/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1605 - accuracy: 0.9875
Epoch 18/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1425 - accuracy: 0.9937
Epoch 19/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1233 - accuracy: 0.9937
Epoch 20/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1097 - accuracy: 1.0000
Epoch 21/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0981 - accuracy: 1.0000
Epoch 22/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0865 - accuracy: 1.0000
Epoch 23/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0798 - accuracy: 0.9937
Epoch 24/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0702 - accuracy: 0.9937
Epoch 25/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0640 - accuracy: 1.0000
Epoch 26/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0574 - accuracy: 1.0000
Epoch 27/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0514 - accuracy: 1.0000
Epoch 28/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0494 - accuracy: 0.9937
Epoch 29/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0437 - accuracy: 1.0000
Epoch 30/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0406 - accuracy: 1.0000
Epoch 31/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0370 - accuracy: 1.0000
Epoch 32/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0346 - accuracy: 1.0000
Epoch 33/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0322 - accuracy: 1.0000
Epoch 34/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0297 - accuracy: 1.0000
Epoch 35/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0274 - accuracy: 1.0000
Epoch 36/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0262 - accuracy: 1.0000
Epoch 37/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0243 - accuracy: 1.0000
Epoch 38/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0238 - accuracy: 1.0000
Epoch 39/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0223 - accuracy: 1.0000
Epoch 40/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0214 - accuracy: 1.0000
Epoch 41/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0194 - accuracy: 1.0000
Epoch 42/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0184 - accuracy: 1.0000
Epoch 43/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0180 - accuracy: 1.0000
Epoch 44/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0168 - accuracy: 1.0000
Epoch 45/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0157 - accuracy: 1.0000
Epoch 46/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0155 - accuracy: 1.0000
Epoch 47/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0149 - accuracy: 1.0000
Epoch 48/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0141 - accuracy: 1.0000
Epoch 49/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0131 - accuracy: 1.0000
Epoch 50/50
5/5 [==============================] - 0s 2ms/step - loss: 0.0127 - accuracy: 1.0000

TASK:-3

In [385]:
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x0000013AC62BDD80> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
Test Loss: 0.030183110386133194
Test Accuracy: 1.0

In [386]:
random_data = np.random.randn(9).reshape(1, -1)
random_data

array([[-0.21329693,  0.73223948,  0.83341243, -0.20378601,  0.62293949,
        -0.70480657,  0.56143677,  2.04747794,  1.64651052]])

In [387]:
random_data_scaled = scaler.transform(random_data)

In [388]:
predictions = model.predict(random_data_scaled)
predicted_class = np.argmax(predictions)

print("Random Data:", random_data)
print("Predicted Class:", predicted_class)

1/1 [==============================] - 0s 51ms/step
Random Data: [[-0.21329693  0.73223948  0.83341243 -0.20378601  0.62293949 -0.70480657
   0.56143677  2.04747794  1.64651052]]
Predicted Class: 1